@page
@model IndexModel
@{
    ViewData["Title"] = " ";
}
<link href="~/css/site.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map">~/lib/bootstrap/dist/css/bootstrap.min.css.map</a>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>

    <header>
        <div class="menu-icon">☰</div>
        <nav id="slide-menu">
            <div><img src="images/logo-light.png" width="70" height="70" /></div>
            <a href="#home">AnaSayfa</a>
            <a href="#services">Hizmetler ve Çözümlerimiz</a>
            <a href="#works">Yaptıgımız İşler</a>
            <a href="#tech">Teknolojilerimiz</a>
            <a href="#about">Hakkımızda</a>
            <a href="#carier">Kariyer</a>
            <a href="#contact">Bize Ulaşın</a>
        </nav>
    </header>

    <div class="content">
        <section id="home" class="bg-img">
            <h2><img src="/images/logo-light.png " height="100%" style="opacity:0.2" /></h2>
        </section>
        <section id="services">
            <h2>Hizmetler ve Çözümlerimiz</h2>
        </section>
        <section id="works">
            <h2>Neler Yapıyoruz</h2>
        </section>
        <section id="tech">
            <h2>Teknolojilerimiz</h2>
        </section>
        <section id="about">
            <h2>Hakkımızda</h2>
        </section>
        <section id="carier">
            <h2>Kariyer</h2>
        </section>

        <section class="flex-column" id="contact">
            <h2>Bize Ulaşın</h2>

            <div class="col-lg-6    d-flex flex-wrap justify-content-center my-5    ">


                <div class="  col-lg-5 col-sm-12 offset-sm-6 offset-lg-0 text-start   ">

                    <h5 class="contactInfo ">
                        <i class="fa-solid fa-map-location-dot text-primary"></i>
                        Türkiye, Izmir TR
                    </h5>
                    <h5 class="contactInfo">
                        <i class="fa-solid fa-phone text-success"></i>
                        0532 166 09 33
                    </h5>
                    <h5 class="contactInfo">
                        <i class="fa-solid fa-envelope text-info"></i>
                        overcodex@info.com.tr
                    </h5>
                </div>
                <form action="/ " class="  " target="_blank">

                    <p><input class="form-control   " type="text" placeholder="Name" required name="Name"></p>
                    <p><input class="form-control  " type="email" placeholder="Email" required name="Email"></p>
                    <p><input class="form-control  " type="text" placeholder="Subject" required name="Subject"></p>
                    <p><input class="form-control  " type="text" placeholder="Message" required name="Message"></p>


                    <p>
                        <button class="btn btn-info w-100" type="submit">
                            <i class="fa fa-paper-plane"></i> SEND MESSAGE
                        </button>
                    </p>
                </form>
                 
             </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1313.5795669406293!2d27.115266851476992!3d38.45910484797486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd9c89440b1e9%3A0x3110b37ef0dbc925!2zQmFoYXJpeWUsIFrDvGJleWRlIEhhbsSxbSBDZC4gTm86MjgvNSwgMzU2MDAgS2FyxZ_EsXlha2EvxLB6bWly!5e0!3m2!1str!2str!4v1697528423720!5m2!1str!2str"
                            width="60%" height="35%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    </section>
    </div>

    <script>
        // function toggleMenu() {
        //     var nav = document.querySelector('nav');
        //     nav.classList.toggle('active');
        // }
        $(document).ready(function () {
            // Sayfa yüklendiğinde genişlik kontrolü yap
            checkWidth();

            // Sayfa boyutu değiştiğinde kontrolü tekrar yap
            $(window).resize(function () {
                checkWidth();
            });

            $(".menu-icon").click(function () {
                $("#slide-menu").slideToggle();
            });

            // Genişliğe göre menüyü göster/gizle
            function checkWidth() {
                var windowWidth = $(window).width();
                if (windowWidth > 999) {
                    // Büyükse, menüyü göster
                    $("#slide-menu").show();
                } else {
                    // Küçükse, menüyü gizle
                    $("#slide-menu").hide();
                }
            }
        });
    </script>

</body>
<script>
    window.onscroll = function () {
        var nav = document.querySelector("nav");
        if (window.pageYOffset > 0) {
            nav.classList.add("sticky");
        } else {
            nav.classList.remove("sticky");
        }
    };

</script> 