* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'PoppinExtraBold';
    src: url('/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: 'PoppinBold';
    src: url('/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'PoppinSemiBold';
    src: url('/fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'PoppinBlack';
    src: url('/fonts/Poppins-Black.ttf');
}
body {
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
h2 {
    background-image: linear-gradient( 45deg, #000, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 1.8em;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.5s, padding 1s;
    z-index:1
}
    nav.sticky {
        background-color: rgba(0, 0, 0, 0.9);
        padding: 0;
    }

.menu-icon {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2000;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    font-family: PoppinBold;
}


    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
        padding: 10px 0;
        top: 60px;
        text-align: center;
        cursor: pointer;
    }

.content {
    margin-top: 0;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    text-align: center;
    flex-direction:column;
    z-index:1
}

    nav a:link,
    nav a:visited {
        color: #fff;
        font-size: 0.9em;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px;
    }

    nav a:hover,
    nav a:active {
        color: #aaa;
        transform: scale(1.1);
    }

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-size: cover;
    background-position: center;
}

#home {
    background-image: url("/images/bg-1.jpg");
    background-attachment: fixed;
}

#services {
    /*background-image: url("/images/Programming-1.jpg");*/
    background-image: url("/images/h4-slide2-background.jpg");
}

    #services > h2 {
        background-image: linear-gradient(45deg, #fff, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
    background-attachment: fixed;
    }

#carier {
    background-image: url("/images/handshake2.jpg");

}
    #carier > h2 {
        background-image: linear-gradient(45deg, #000, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), #000);
    }


#works {
    background-image: url("/images/remote.jpg");
    background-attachment: fixed;
}

    #works > h2 {
        background-image: linear-gradient(45deg, #000, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), #000);
    }

#tech {
    background-image: url("/images/langs.png");
}

    #tech > h2 {
        background-image: linear-gradient(45deg, #000, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), #000);
    }

#about {
    background-image: url("https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20%281%20of%201%29-5.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
    background-attachment: fixed;
}

    #about > h2 {
        background-image: linear-gradient(45deg, #000, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), #000);
    }

#contact {
    background-image: url("/images/Contactus1.jpg");
    background-attachment: fixed;
}

    #contact > h2 {
        background-image: linear-gradient(45deg, #000, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), #000);
    }

@media only screen and (max-width: 1000px) {
    .menu-icon {
        display: block;
    }

    .no-scroll {
        overflow: hidden;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        text-align: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        transition: top 0.3s ease;
        padding: 0;
        flex-direction: column;
    }

        nav.active {
            display: flex;
            flex-direction: row;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 15px;
            display: block;
            padding: 10px 0;
        }

    .content {
        margin-top: 0;
        height: 100vh;
    }
}

@media only screen and (min-width: 1000px) {

    nav {
        display: flex;
        justify-content: space-around;
        padding: 20px 20px;
        text-align: center;
        flex-direction: row
    }
 

}